body {
    background-color: #1b1b1b;
    color: #b9b9b9;
    padding: 5vw;
    line-height: 23px;
    padding-top: 2vw;
}
a {
    color:rgb(77, 160, 228); 
}
p {
    margin-top: 0.5cm;
}
code {
    color: #189e40;
}
h1 {
    line-height: 30px;
}