body {
    background-color: #1b1b1b;
    text-align: center;
    padding-top: 50px;
    color: #999393;
    line-height: 20px;
}
a {
    color:rgb(77, 160, 228); 
}
h1 {
    line-height: 30px;
}
pre {
    line-height: 15px;
}
.post {
    margin-top: 10px;
    color: #8e8d8d;
}
